@charset "UTF-8";
html,
body {
  width: 100%;
  min-height: 100%;
  min-width: 320px;
}

body {
  background-color: #0c1649;
  overflow-x: hidden;
  font-family: "Chocolates", Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

#text {
  position: relative;
}

a {
  text-decoration: none;
  color: white;
  display: block;
}

@font-face {
  font-family: "Chocolates";
  src: url(../fonts/TT-Chocolates-Educational-Light.woff), url(../fonts/TT-Chocolates-Educational-Light.woff2);
}
.header {
  width: 100%;
  min-height: 250px;
  position: fixed;
  background: linear-gradient(180deg, #0c1649 42.19%, rgba(12, 22, 73, 0) 100%);
  z-index: 1000;
}
.header__inner {
  min-height: 124px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  align-items: center;
  min-height: 100%;
  height: 1px;
  width: 100%;
  min-height: 124px;
}
.header__logo {
  min-width: 189px;
  height: 100%;
  margin-right: 13.13vw;
  display: flex;
  align-items: center;
}
.header__links {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__item {
  display: flex;
  position: relative;
}
.header__link {
  font-size: clamp(0.8rem, 1.56vw, 1.875rem);
  opacity: 1;
}

.container {
  margin: 0 auto;
  height: 100%;
  max-width: 2219px;
  padding: 0 109px;
}

.main {
  padding: 176px 0 0 0;
  flex: 1 0 auto;
}

.section__inner {
  position: relative;
  display: grid;
  max-width: 1702px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(590px, 1fr));
}

.house-img {
  width: 364px;
  margin: 0;
}

.tree-img {
  width: 320px;
  margin: 0 auto;
}

.vazy-img {
  width: 246px;
  margin: 0 auto;
}

.flowers-img {
  width: 265px;
}

.copy-animation {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  white-space: nowrap;
  font-size: 16px;
  color: white;
  transition: opacity 0.2s ease-in-out; /* Анимация плавного появления */
}

#scene_house_sq1 {
  position: absolute;
  top: 19px;
  left: -73px;
  z-index: -1;
}

#scene_house_sq2 {
  position: absolute;
  top: -10px;
  left: 219px;
  z-index: -1;
}

#scene_vazy_sq1 {
  position: absolute;
  top: 0px;
  left: 106px;
  z-index: -1;
}

#scene_vazy_sq2 {
  position: absolute;
  top: 28px;
  left: 357px;
  z-index: -1;
}

#scene_tree_sq1 {
  position: absolute;
  top: -138px;
  left: 205px;
  z-index: -1;
}

#scene_tree_sq2 {
  position: absolute;
  top: -108px;
  left: 286px;
  z-index: -1;
}

#scene_flowers_sq1 {
  position: absolute;
  top: -112px;
  left: 105px;
  z-index: -1;
}

img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.grid-item-house {
  padding: 74px 128px 79px 7px;
  position: relative;
  z-index: 100;
}

.grid-item-vazy {
  padding: 135px 152px 180px 249px;
  position: relative;
}

.grid-item-tree {
  padding: 7px 0 172px 227px;
  position: relative;
}

.grid-item-flowers {
  padding: 85px 0 228px 298px;
  position: relative;
}

.house-img-mobile,
.vazy-img-mobile,
.tree-img-mobile,
.flowers-img-mobile {
  display: none;
}

@media (max-width: 1398px) {
  .footer {
    margin-bottom: 43px;
  }
  .footer__inner {
    width: 100% !important;
  }
  #scene_house_sq1,
  #scene_house_sq2,
  #scene_vazy_sq1,
  #scene_vazy_sq2,
  #scene_tree_sq1,
  #scene_tree_sq2,
  #scene_flowers_sq1,
  .house-img,
  .vazy-img,
  .tree-img,
  .flowers-img {
    display: none;
  }
  .house-img-mobile,
  .vazy-img-mobile,
  .tree-img-mobile,
  .flowers-img-mobile {
    display: block;
  }
  .section__inner {
    position: relative;
    display: grid;
    max-width: 1702px;
    margin: 0 auto;
    grid-template-columns: auto;
  }
  .grid-item-house a {
    margin: 0 auto;
    min-width: 296px;
    min-height: 339px;
  }
  .house-img {
    background-image: url(../img/house/Frame1.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .vazy-img {
    background-image: url(../img/vazy/Frame2.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .tree-img {
    background-image: url(../img/tree/Frame3.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .flowers-img {
    background-image: url(../img/flowers/Frame4.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .grid-item-house {
    padding: 0;
    position: relative;
    margin: 0 auto;
    width: 100%;
  }
  .grid-item-vazy {
    padding: 0;
    position: relative;
    width: 100%;
  }
  .grid-item-vazy a {
    margin: 0 auto;
    min-width: 326px;
    min-height: 270px;
  }
  .grid-item-tree {
    padding: 0;
    position: relative;
    width: 100%;
  }
  .grid-item-tree a {
    margin: 0 auto;
    min-width: 301px;
    min-height: 302px;
  }
  .grid-item-flowers {
    padding: 0;
    position: relative;
    width: 100%;
  }
  .grid-item-flowers a {
    margin: 0 auto;
    min-width: 301px;
    min-height: 302px;
  }
}
.menu_btn {
  display: none;
  background: transparent;
  border: none;
  width: 50px;
}
.menu_btn img {
  width: 50px;
}

#MenuToggle,
.MenuToggle-label {
  display: none;
}

@media (max-width: 1000px) {
  .footer {
    margin-bottom: 23px;
  }
}
@media (max-width: 768px) {
  .min-height {
    min-height: 200px;
  }
  .MenuToggle-label {
    display: block;
  }
  .header__nav,
  .header__logo {
    display: none;
    height: auto;
  }
  #MenuToggle:checked + .header__nav {
    display: flex;
    flex-direction: column;
  }
  #MenuToggle:checked + .header__nav .header__links {
    flex-direction: column;
  }
  .header__link {
    font-size: clamp(2rem, 1.6vw, 2.8rem);
  }
  .header__item {
    margin-bottom: 100px;
  }
  .header__inner {
    flex-direction: column;
    justify-content: center;
  }
  .footer {
    margin-bottom: 13px;
  }
}
.footer {
  flex: 0 0 auto;
  margin-bottom: 83px;
}
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
.footer__text {
  color: white;
  font-weight: 300;
  font-size: clamp(0.5rem, 1.25vw, 2rem);
  max-width: 30%;
}
.footer__links {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-between;
}
.footer__link {
  font-size: clamp(0.5rem, 1.67vw, 2rem);
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */