.section {
  &__inner {
    padding: 50px 0 50px;
  }
  .posters {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    gap: 8.75vw;
    align-items: center;
    margin-bottom: 4.3vw;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .poster {
    // max-width: 100%;
    height: auto;
    max-width: 443px;
    width: 23.07vw;
    // transition: opacity 1s linear;
    @media (max-width: 768px) {
      width: 80%;
    }
  }
  &__text {
    flex-direction: column;
    justify-content: space-between;
    font-size: clamp(1.2rem, 1.56vw, 1.875rem);
    line-height: clamp(1.5rem, 1.88vw, 2.25rem);
    text-wrap: balance;
    margin-bottom: 9.58vw;
    &-heading {
      margin-bottom: 1.5vw;
      font-weight: 600;
      font-size: clamp(1.5rem, 1.88vw, 2.25rem);
    }
    &-p {
      max-width: 60%;
      @media (max-width: 1200px) {
        max-width: 100%;
      }
    }
  }
  .guide {
    width: 100%;
    margin-bottom: 4.3vw;
    img {
      width: 100%;
    }
  }
  .posters-grid {
    display: grid;
    max-width: 1649px;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
    justify-items: center;
    row-gap: 4.17vw;
    justify-content: center;
    margin-bottom: 4.3vw;
  }
  .poster-grid {
    @media (max-width: 768px) {
      width: 57%;
      min-width: 248px;
      max-width: 443px;
    }
  }
}
