.footer {
  flex: 0 0 auto;
  margin-bottom: 83px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
  }
  &__text {
    color: white;
    font-weight: 300;
    font-size: clamp(1rem, 1.25vw, 2rem);
    max-width: 70%;
    color: #000521;
  }
  &__links {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
  }

  &__link {
    font-size: clamp(1rem, 1.67vw, 2rem);
    font-weight: 300;
    color: #000521;
  }
}
