.header__link_white {
  color: white;
}
.header__link_black {
  color: #000521;
}

.header {
  width: 100%;
  // min-height: 250px;
  position: fixed;

  //   background: linear-gradient(180deg, #0c1649 42.19%, rgba(12, 22, 73, 0) 100%);
  z-index: 1000;
  // top: 0;
  &__inner {
    min-height: 124px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
    min-height: 100%;
    height: 1px;
    width: 100%;
    min-height: 124px;
  }

  &__logo {
    height: 100%;
    margin-right: 13.13vw;
    display: flex;
    align-items: center;
  }

  &__links {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    position: relative;
  }

  &__link {
    font-size: clamp(0.2rem, 1.98vw, 2.3rem);
    // font-size: 2,375;
    opacity: 1;
  }
}
