html,
body {
  width: 100%;
  min-height: 100%;

  min-width: 320px;
}
body {
  background-color: #0c1649;
  overflow-x: hidden;
  font-family: "Chocolates", Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

#text {
  position: relative;
}
a {
  text-decoration: none;
  color: white;
  display: block;
}

@font-face {
  font-family: "Chocolates";
  src: url(../fonts/TT-Chocolates-Educational-Light.woff),
    url(../fonts/TT-Chocolates-Educational-Light.woff2);
}

.header {
  width: 100%;
  min-height: 250px;
  position: fixed;
  background: linear-gradient(180deg, #0c1649 42.19%, rgba(12, 22, 73, 0) 100%);
  z-index: 1000;
  // top: 0;
  &__inner {
    min-height: 124px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
    min-height: 100%;
    height: 1px;
    width: 100%;
    min-height: 124px;
  }

  &__logo {
    min-width: 189px;
    height: 100%;
    margin-right: 13.13vw;
    display: flex;
    align-items: center;
  }

  &__links {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    position: relative;
  }

  &__link {
    font-size: clamp(0.8rem, 1.56vw, 1.875rem);
    // font-size: 2,375;
    opacity: 1;

    &:hover {
      color: #d6f34c;
    }
  }
}
.container {
  margin: 0 auto;
  height: 100%;
  max-width: 2219px;
  // padding: 0 5.68vw;
  padding: 0 5.68vw;
}

.main {
  // padding: 14vh 0 0 0;
  padding: 176px 0 0 0;
  flex: 1 0 auto;
  // overflow-x: hidden;
}

.section {
  &__inner {
    position: relative;
    display: grid;
    max-width: 1702px;
    // height: 100vh;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(590px, 1fr));
    // align-items: center;
    // justify-items: center;
  }
}

// .animated-text {
//   position: relative;
//   cursor: pointer;
// }

// .replica {
//   position: absolute;
//   opacity: 0;
//   transition: all 0.8s;
// }

.house-img {
  background-image: url(../img/house/house.png);
  width: 364px;
  // width: 18.96vw;
  height: 364px;
  // height: 24.7vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0;
}

.tree-img {
  background-image: url(../img/tree/tree.png);
  width: 320px;
  height: 320px;
  // height: 29.6296vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  // position: absolute;
  margin: 0 auto;
  // margin-left: 304px;
}

.vazy-img {
  background-image: url(../img/vazy/vazy.png);
  width: 246px;
  height: 246px;
  // height: 24.4vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  margin: 0 auto;
}

.flowers-img {
  background-image: url(../img/flowers/flowers.png);
  width: 265px;
  height: 265px;
  // height: 23vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  // position: absolute;
}

// @keyframes flowers {
//   25% {
//     background-image: url(../img/flowers/Maskgroup-1.png);
//   }
//   50% {
//     background-image: url(../img/flowers/Maskgroup.png);
//   }
//   75% {
//     background-image: url(../img/flowers/Maskgroup-2.png);
//   }
//   100% {
//     background-image: url(../img/flowers/Maskgroup-3.png);
//   }
// }

.copy-animation {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  white-space: nowrap;
  font-size: 16px;
  color: white;
  transition: opacity 0.2s ease-in-out; /* Анимация плавного появления */
}

#scene_house_sq1 {
  position: absolute;
  top: 19px;
  // top: 1.7vh;
  left: -73px;
  z-index: -1;
}
#scene_house_sq2 {
  position: absolute;
  // top: -0.9vh;
  top: -10px;
  left: 219px;
  z-index: -1;
}
#scene_vazy_sq1 {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;
}
#scene_vazy_sq2 {
  position: absolute;
  // top: 2.5vh;
  top: 28px;
  left: 191px;
  z-index: -1;
}
#scene_tree_sq1 {
  position: absolute;
  top: -138px;
  // top: -12.7vh;
  // left: 108px;
  left: 205px;
  z-index: -1;
}
#scene_tree_sq2 {
  position: absolute;
  // top: -10vh;
  top: -108px;
  // left: 205px;
  left: 286px;
  z-index: -1;
}
#scene_flowers_sq1 {
  position: absolute;
  // top: -10.3vh;
  top: -112px;
  // left: 50px;
  left: 105px;
  z-index: -1;
}

img {
  width: 100%;
  object-fit: contain;
}

.grid-item-house {
  // padding: 6.8vh 6.67vw 7.3vh 7px;
  padding: 74px 128px 79px 7px;
  position: relative;
  z-index: 100;
  // .house_sq1 {
  //   height: 32.8vh;
  // }
  // .house_sq2 {
  //   height: 19.5vh;
  // }
}
.grid-item-vazy {
  // padding: 12.5vh 152px 16.6vh 249px;
  padding: 135px 152px 180px 224px;
  position: relative;

  // .vazy_sq1 {
  //   height: 37.9vh;
  // }
  // .vazy_sq2 {
  //   height: 24vh;
  // }
}

.grid-item-tree {
  // padding: 0.6vh 0 15.9vh 227px;
  padding: 7px 0 172px 417px;
  position: relative;
  // .tree_sq1 {
  //   height: 41.9vh;
  // }
  // .tree_sq2 {
  //   height: 32vh;
  // }
}

.grid-item-flowers {
  padding: 85px 0 228px 424px;
  // padding: 7.8vh 0 21.1vh 298px;
  position: relative;
  // .flowers_sq1 {
  //   height: 49vh;
  // }
}

.house-img-mobile,
.vazy-img-mobile,
.tree-img-mobile,
.flowers-img-mobile {
  display: none;
}

@media (max-width: 1398px) {
  // .section__inner {
  //   height: 100%;
  // }
  .footer {
    margin-bottom: 43px;
  }
  .footer__inner {
    width: 100% !important;
  }
  #scene_house_sq1,
  #scene_house_sq2,
  #scene_vazy_sq1,
  #scene_vazy_sq2,
  #scene_tree_sq1,
  #scene_tree_sq2,
  #scene_flowers_sq1,
  .house-img,
  .vazy-img,
  .tree-img,
  .flowers-img {
    display: none;
  }

  .house-img-mobile,
  .vazy-img-mobile,
  .tree-img-mobile,
  .flowers-img-mobile {
    display: block;
  }

  .section {
    &__inner {
      position: relative;
      display: grid;
      max-width: 1702px;
      margin: 0 auto;
      grid-template-columns: auto;
    }
  }
  .grid-item-house {
    a {
      // width: 45vw;
      // height: 41vw;
      margin: 0 auto;
      // max-width: 596px;
      // max-height: 539px;
      min-width: 296px;
      min-height: 339px;
    }
  }
  .house-img {
    background-image: url(../img/house/Frame1.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  .vazy-img {
    background-image: url(../img/vazy/Frame2.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  .tree-img {
    background-image: url(../img/tree/Frame3.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .flowers-img {
    background-image: url(../img/flowers/Frame4.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  .grid-item-house {
    padding: 0;
    position: relative;
    margin: 0 auto;
    width: 100%;
  }
  .grid-item-vazy {
    padding: 0;
    position: relative;
    width: 100%;
    a {
      // width: 41vw;
      // height: 36vw;
      margin: 0 auto;
      // max-width: 669px;
      // max-height: 583px;
      min-width: 326px;
      min-height: 270px;
    }
  }

  .grid-item-tree {
    padding: 0;
    position: relative;
    width: 100%;
    a {
      // width: 41vw;
      // height: 36vw;
      margin: 0 auto;
      // max-width: 643px;
      // max-height: 642px;
      min-width: 301px;
      min-height: 302px;
    }
  }

  .grid-item-flowers {
    padding: 0;
    position: relative;
    width: 100%;
    a {
      // width: 41vw;
      // height: 36vw;
      margin: 0 auto;
      // max-width: 643px;
      // max-height: 642px;
      min-width: 301px;
      min-height: 302px;
    }
  }
}

.menu_btn {
  display: none;
  background: transparent;
  border: none;
  width: 50px;
  img {
    width: 50px;
  }
}

#MenuToggle,
.MenuToggle-label {
  display: none;
}

@media (max-width: 1000px) {
  // .container {
  //   padding: 0 20px;
  // }
  .footer {
    margin-bottom: 23px;
  }
}
@media (max-width: 768px) {
  // .container {
  //   padding: 0 5px;
  // }

  .min-height {
    min-height: 200px;
  }

  .MenuToggle-label {
    display: block;
  }
  .header__nav,
  .header__logo {
    display: none;
    height: auto;
  }
  #MenuToggle:checked + .header__nav {
    display: flex;
    flex-direction: column;
    .header__links {
      flex-direction: column;
    }
  }

  .header__link {
    font-size: clamp(2rem, 1.6vw, 2.8rem);
  }

  .header__item {
    margin-bottom: 100px;
  }

  .header__inner {
    flex-direction: column;
    justify-content: center;
  }
  .footer {
    margin-bottom: 13px;
  }

  // .menu_btn {
  //   display: block;
  // }
}

.footer {
  flex: 0 0 auto;
  margin-bottom: 83px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
  }
  &__text {
    color: white;
    font-weight: 300;
    // font-size: 1.5rem;
    font-size: clamp(0.5rem, 1.25vw, 2rem);
    // max-width: 300px;
    max-width: 30%;
  }
  &__links {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
  }

  &__link {
    font-size: clamp(0.5rem, 1.67vw, 2rem);
    font-weight: 300;
  }
}
